.header {
  height: 70px;
  background-color: #3f51b5;
  color: #fff;
  padding: 0 50px;
  display: flex;
  align-items: center;

  &__title{
    font-size: 38px;
    margin-right: 20px;
  }

  &__navigation {
    display: flex;
  }

  &__link{
    color: #fff;
    font-size: 18px;
    padding: 7px;
    transition: 0.5s ease;
    text-decoration: none;

    &:hover{
      background-color: #3949ab;
      color: #e91e63;
    }
  }

  &__active{
    color: #e91e63;
  }
}
